<h4>Edit Event Here</h4>

<%= form_for(@event) do |f| %>

      <% if @event.errors.any? %>
        <%  @event.errors.full_messages.each do |msg| %>
            <%# display error messages %>
            <div class="alert alert-danger"><%= msg%>
        <% end %>
      <% end %>

      <div class="form-group">
       <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
      </div>
      
      <div class="form-group">
       <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
      </div>
     
      <div class="form-group">
       <%= f.text_field :location, class: "form-control", placeholder: "Location" %>
      </div>

      <div class="form-group">
       <%= f.label :event_date %>
       <%= f.date_field :event_date, class: "form-control" %>
      </div>
 
      <div class="form-group">
       <%= f.hidden_field :creator_id, value: current_user.id %>
       <%= f.submit "Update", class: "btn btn-primary btn-block" %>
      </div>

<% end %>